<div class="header">
  <div><%= link_to "LOGO", %></div>
  
  
  <div><%= link_to "商品一覧",admin_items_path %></div>
  <div><%= link_to "会員一覧", admin_managers_path%></div>
  <div><%= link_to "注文履歴一覧", %></div>
  <div><%= link_to "ジャンル一覧", %></div>
  <div><%= link_to "ログアウト", %></div>
</div>